.avater-img {
    border-radius: 50%;
    width: 10%;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

hr {
    border-color: black;
}

.radius-of_image {
    border-radius: 50%;

}

.image-size {

    width: 20%;


}

 /* Set the size of the div element that contains the map */
#map {
    height: 400px;
    width: 100%;
}
