@media(max-width: 425px){
    .padding-top-image {
        padding-right: 250px;

    }

    .padding-top-article {
        display: inline-block;
 
    }
    .nav {
        display: inline;
    }

    h1 {
        font-size: 40px;
        white-space: nowrap;
    } 

    h6 {
        white-space: nowrap;

    }

} 

body, html {
    background-color: white;
    font-family: 'Playfair Display', serif;
}

h1, h5 ,h6 {
    color: #040404;
}

p {
    color: black;

}

.avater-img {
    border-radius: 50%;
    width: 10%;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

hr {
    border-color: black;
}

.radius-of_image {
    border-radius: 50%;

}

.image-size {
    width: 20%;

}

 /* Set the size of the div element that contains the map */
#map {
    height: 400px;
    width: 50%;
}

.center-text {
    text-align: center;
}

.padding-article-nav-item {
    padding-bottom: 50px;

}

.padding-top-article {
    padding-left: 100px;


}

.footer-padding {
    padding-bottom: 100px;
    background-color: #b2bec3;

}
.padding-top-down {
    padding-top: 120px;
}



footer {
    background-color: #b2bec3;

}

hr{
    border-color: #B2B2B2;
}

.lifestyle-Padding{
    padding-right: 13px;
}

.heading-color{
    color: #040404;
}

a:link, a:hover, a:visited{
    color: #040404;
    text-decoration: none;
}

@media(max-width: 375px){
    .lifestyle-Padding{
        padding-right: 10px;
    }
}

.search-form{
    max-width: 200px;
    width: 100%
}
#calendar {
    max-width: 900px;
    margin: 40px auto;
  }
